*{
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: darkslateblue;
}

#canvas-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#canvas {
  position: absolute;
  margin-top: auto;
}

#overlay {
  width: 700px;
  height: 500px;
  z-index: 1;
  position: absolute;
  margin-top: auto;
  background: rgba(79, 121, 66, .5);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  margin-top: 50px;
  color: white;
  align-content: center;
}

.menu_btn{
  background: rgba(0, 255, 2, .3);
  color: white;
  font-size: 40px;
  width: 250px;
  height: 100px;
}

#ranking {
  display: none;
  align-self: center;
  margin-right: 50px;
}

#top {
  display: flex;
  flex-direction: column;
}

#back_btn{
  background: rgba(0, 255, 2, .3);
  color: white;
  margin-top: 20px;
  display: none;
  justify-self: flex-start;
}

.ranking_list {
  color: white;
  list-style-type: none;
  font-size: 40px;
}

.tutorial_title{
  text-align: center;
  color: white;
  font-size: 25px;
}

.tutorial_text {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

#tutorial {
  display: none;
}